*{
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
}

section{
  margin: 5% 10% 5% 10%;
  width: 80%;
}

.centratura{
  display: flex;
  justify-content: center;
  text-align: center;
}

/************************************************************************************************** Sezione il tuo biglietto */

/* classe per nascondere elementi */
.nascosto{
  display: none;
}

/* classe per rendere visibile un elemento */
.visible{
  display: block;
}

/* Riquadro interno del dettaglio biglietto  */
.bigliettoclass{
  display: flex;
  justify-content: center;
}

.sxbiglietto{
  display: flex;
  justify-content: center;
}

.dxbiglietto{
  display: flex;
  justify-content: center;
  width: 80%;
}

th, td{
  padding: 20px 80px 20px 80px;
}
